@charset "utf-8";


body { position:relative; min-width:320px; padding:0; margin:0 auto; background-image:url(./images/main_bg.jpg); background-size:cover; background-repeat:no-repeat; }
.main_bt { position:absolute; top: 280px; left: 50px; width: 260px; height:26px; margin: 0; padding: 5px 0 0 0; border-radius: 40px; background-color:#19ba69;  text-align:center; }
.main_bt_02 { position:absolute; top: 325px; left: 50px; width: 260px; height:26px; margin: 0; padding: 5px 0 0 0; border-radius: 40px; background-color:#19ba69;  text-align:center; }
.main_bt_03 { position:absolute; top: 420px; left: 50px; width: 260px; height:26px; margin: 0; padding: 5px 0 0 0; border-radius: 40px; background-color:#19ba69;  text-align:center; }
.main_bt_04 { position:absolute; top: 540px; left: 50px; width: 260px; height:26px; margin: 0; padding: 5px 0 0 0; border-radius: 40px; background-color:#ff792e;  text-align:center; }